.ruff_cache
test.ipynb
*.log
*.h5
MC_old.ipynb
graveyard.py
_*.ipynb
logfile.txt
Testing*
testing*
*npz
*int.txt
gwpop/
*.excalidraw

# but include psds txt files
!Tutorials_ACME/psds/*.txt

# venv
venv/
env/
.env/
.venv/

#vscode
.vscode/   
.vscode/*


*MonteCarlo_Ind*

Notebooks_for_historical_reference/
Notebooks_for_historical_reference/*
tutorial_images/populations
tutorial_images/populations/*

Output_files
Output_files/
Output_files/*

__pycache__
__pycache__/*
**.ipynb_checkpoints

job_configs

|Tutorials_ACME/simulated_catalogue.csv
|requirements.txt